<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

    <body>
        {% include "djangoapp/navbar.html" %}
        <div class="card-group">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Shop details:</h5>
                <p class="card-text">
                    1 1 1 Infinity Road<br>
                    112233 Infinity City<br>
                    The Cloud<br>
                    Cloudland<br>
                    </p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Office Phone:</h5>
                <p class="card-text">+000000001</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Fax</h5>
                <p class="card-text">+000000011</p>
              </div>
            </div>
          </div>
    </body>

</html>